In [ ]:
# tuple is sequence of characters or items
# we can use index to get an element
# slicing operation can be performed
# tuple is immutable so we can't change exiisting object or tuple
# We saw that lists and strings have many common properties, such as indexing and slicing operations.
# They are two examples of sequence data types (see Sequence Types â€” list, tuple, range).

In [2]:
tup = (1,2,3,4,5,6)             # indexing positve number
print(tup)
print(tup[0])

(1, 2, 3, 4, 5, 6)
1

In [3]:
tup = (1,2,3,4,5,6,("hello","bollu"))
print(len(tup))                       # len method

7

In [6]:
tup = (1,2,3,4,5,6,("hello","bollu"))
print(tup[6])

('hello', 'bollu')

In [11]:
tup = (1,2,3,4,5,6,("hello","bollu"))   # indexing using negative number
print(tup[-4])

4

In [16]:
tup = (1,2,3,4,5,6,("hello","bollu"),[10,11,12])
print(tup)
tup[5]="hello"                      # 'tuple' object does not support item assignment
print(tup)

(1, 2, 3, 4, 5, 6, ('hello', 'bollu'), [10, 11, 12])

TypeError: 'tuple' object does not support item assignment

In [15]:
tup = (1,2,3,4,5,6,("hello","bollu"),[10,11,12])
print(tup)
tup[7][1]="hello"                      # tuple supports item assignment when it contain list or mutable type data structure
print(tup)

(1, 2, 3, 4, 5, 6, ('hello', 'bollu'), [10, 11, 12])
(1, 2, 3, 4, 5, 6, ('hello', 'bollu'), [10, 'hello', 12])

In [17]:
tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9)
tup3 = tup1 + tup2            # concatenation
print(tup3)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [19]:
tup1 = (1,2,3,4,5)
tup2 = (7.5,8.8)
tup3 = tup1 + tup2            # concatenation only eligible for int,and float not for string
print(tup3)

(1, 2, 3, 4, 5, 7.5, 8.8)

In [21]:
tup1 = (1,2,3,4,5)
print(tup1[:])                   # slicing operation
print(tup1[:-2])

(1, 2, 3, 4, 5)
(1, 2, 3)

In [23]:
tup1 = (1,2,3,4,5)
del tup1           # del function deletes entire tuple so name 'tup1' is not defined
print(tup1)

NameError: name 'tup1' is not defined

In [24]:
tup1 = (1,2,3,4,5,1,1)
print(tup1.count(1))     # count method gives repeated item in a tuple

3

In [25]:
tup1 = (1,2,3,4,5,1,1)
print(tup1.index(5))        # index method gives index of an item in a tuple

4

In [29]:
tup1 = (1,2,3,4,5,1,1)               # sorted
tup2 = sorted(tup1)
print(tup2)

[1, 1, 1, 2, 3, 4, 5]

In [30]:
tup1 = (1,2,3,4,5,1,1)  
print(max(tup1))         # max method to get max element in a tuple

5

In [35]:
tup1 =("hello","abc")  
print(min(tup1))    
tup1 = (1,2,4,5)
print(min(tup1))      # min method to get min element in a tuple

abc
1

In [32]:
tup1 = (1,2,3,4,5,1,1)  # sum method to get sum of an elements  in a tuple
print(sum(tup1))

17